@import 'vars';

:host {
  display: flex;
  align-items: center;
  gap: 15px;

  height: 62px;
  padding: 0 @app-gutter;

  background: white;

  position: relative;

  &:after {
    content: '';
    height: 4px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 4px 4px #DBE2F1;
  }

  .fa-bars {
    color: @highlight;
  }

  .brand-name {
    flex: 1;
    font-weight: 700;
  }
}
