@import 'vars';

*:not(path) {
  font-family: @font-family;
  color: @font-color;
}

button {
  height: 33px;
  min-width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

button.primary {
  background: @primary-color;
  color: white;
}
